* {
	font-size: 9pt;
	font-family: tahoma;
}

body {
	direction: rtl;
	color: white;
	background-color: darkslategrey;
}

table {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

th {
	width: 150px;
}

input {
	width: 100%;
}

.date {
	width: 120px;
	direction: ltr;
}

.bold {
	font-weight: bold;
}

.myLeft {
	direction: ltr;
}

.todayDate {
	direction: ltr;
	text-align: right;
}

input[type=submit] {
	width: 60px;
}

.listTable {
	width: 90%;
}

.oddRow {
	background-color: rgba(196, 255, 255, 0.14);
}

.evenRow {
	
}

.firstColumn {
	width: 5%;
}

.dateColumn {
	width: 14%;
	direction: ltr;
}

.descColumn {
	width: 22%;
}

.curColumn {
	width: 9%;
}

.typeColumn {
	width: 8%;
}

.noColumn {
	width: 10%;
}

.acctionColumn {
	width: 22%;
}