body {
	direction: rtl;
	color: white;
	background-color: darkslategrey;
	font-size: 9pt;
	font-family: tahoma;
}

table {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

th {
	width: 150px;
}

input {
	width: 100px
}

.date {
	width: 120px;
	direction: ltr;
}

.bold {
	font-weight: bold;
}

.myLeft {
	direction: ltr;
}

.todayDate {
	direction: ltr;
	text-align: right;
}

input[type=submit] {
	width: 60px;
}